/* Import Poppins & Horta */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fontlibrary.org//face/horta" type="text/css');

/* HTML style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  transition: 0.5s;
  background: var(--primary-color);
  color: black;
  min-height: 100vh;
}
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #2b2b2b;
  --nav-color: #0078D4 ;
}
/* Dark mode */
.carDark, .darkform {
  background-color:#3a3b3c;
  color: white;
}

.darkForm1Border {
  background-color:#fff;
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
    opacity: 0.8;
}

.dark-mode {
  background-color:#1f2020;
  color: white;
}

/* Navigation Bar begins */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 60px;
  background:var(--nav-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 50;
  margin-bottom: 10%;
  transition: top 1.0s;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
#logo-txt{
    margin-left: 10px;
}
#logo-txt, #comput-txt, #elech-txt{
    font-family: 'HortaRegular';
    display: inline;
}
#comput-txt{
    color: white;
}
#elech-txt{
    color: #00ffff;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
nav .navbar .links li a:hover{
  color: #00FFFF;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
}
nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #0078D4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
   height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #0078D4;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #0078D4;
}
.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #0078D4;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
/* #testt {
  width: 60%;
  margin: auto;
  text-align: center;
} */

/* Footer section starts */
.footer-1 {
  background-color: #131313;
  max-width: 100%;
}
.hhh3 {
  font-size: 3rem;
  text-transform: uppercase;
}
.social-icon a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}
.social-icon a:hover {
  transform: rotate(360deg);
  transition: 1s;
  background: white;
}

.fb {
  padding: 8px 13px 7px 13px;
  background-color: #1877f2;
  border-radius: 10px;
}
.tw {
  padding: 8px 8px 7px 8px;
  background-color:#1DA1F2;
  border-radius: 10px;
}

.insta {
  padding: 8px 8px 7px 9px;
  border-radius: 10px;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, 
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%, 
  #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, 
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%); 
  background: linear-gradient(45deg,
   #f09433 0%,
   #e6683c 25%,
   #dc2743 50%,
   #cc2366 75%,
   #bc1888 100%); 
}

.link {
  padding: 8px 10px 8px 10px;
  background-color: #0A66C2;
  border-radius: 10px;
}

.pin {
  padding: 8px 10px 8px 9px;
  background-color: #BD081C;
  border-radius: 10px;
}

.footer11 {
  background: #0078D4;
  padding-top: 20px;
  margin-top: 5%;
}
/* Footer section ends*/

/* Breakpoints */
@media (max-width:1130px){
  #logo-txt {
     display: none;
  }
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:820px){
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #0078D4;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
    overflow-y: scroll;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 18px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 
.links .htmlCss-sub-menu,
  .navbar .nav-links.show3 
  .links .js-sub-menu,
  .navbar .nav-links.show2 
  .links .more .more-sub-menu
  {
    display: block;
    }
    .navbar .nav-links.show1 
    .links .htmlcss-arrow,
    .navbar .nav-links.show3 
    .links .js-arrow 
    {
        transform: rotate(180deg);
    }
    .navbar .nav-links.show2 
    .links .more-arrow
    {
      transform: rotate(90deg);
    }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
}
@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
  } 
}
